
{{#contentFor 'head'}}
<title>Admin</title>
<link key="layout" rel="stylesheet" href="/static/auth/layouts/default.min.css" />,
<link key="page" rel="stylesheet" href="/static/auth/pages/admin.min.css" />
{{/contentFor}}

<script src="/static/auth/pages/admin.min.js"></script>;
