{{#extend "layout"}}
    {{#content "header"}}
        <title>Admin</title>
        <!-- <link key="layout" rel="stylesheet" href="/static/auth/layouts/default.min.css" />, -->
        <!-- <link key="page" rel="stylesheet" href="/static/auth/pages/admin.min.css" /> -->
    {{/content}}


    {{#content "main"}}
        <script>var INITIAL_STATE = {{{ INITIAL_STATE }}}</script>

        <div id="app"></div>

        <script src="/static/auth/admin.bundle.js" />
    {{/content}}
{{/extend}}
